

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 网站用户 iframe 框</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

  <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <input type="hidden" name="id" th:value="${studentEdit.id}">
    <div class="layui-form-item">
      <label class="layui-form-label">学号</label>
      <div class="layui-input-inline">
        <input type="text" name="stuNo" lay-verify="required" placeholder="请输入学号" autocomplete="off" class="layui-input" th:value="${studentEdit.stuNo}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">密码[选填]</label>
      <div class="layui-input-inline">
        <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">姓名</label>
      <div class="layui-input-inline">
        <input type="text" name="stuName" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input" th:value="${studentEdit.stuName}">
      </div>
    </div>
    <div class="layui-form-item" lay-filter="sex">
      <label class="layui-form-label">选择性别</label>
      <div class="layui-input-block" >
        <input type="radio" th:checked="${studentEdit.sex}=='男'" name="sex" value="男" title="男" >
        <input type="radio" th:checked="${studentEdit.sex}=='女'" name="sex" title="女">
      </div>
    </div>
<!--    <div class="layui-form-item">-->
<!--      <label class="layui-form-label">照片</label>-->
<!--      <div class="layui-input-inline">-->
<!--        <input type="text" name="photo" lay-verify="required" placeholder="请上传学生照片" autocomplete="off" class="layui-input" >-->
<!--      </div>-->
<!--      <button style="float: left;" type="button" class="layui-btn" id="layuiadmin-upload-useradmin">上传图片</button>-->
<!--    </div>-->
    <div class="layui-form-item"  th:if="${session.adminEmployer} == '0'">
      <label class="layui-form-label">学院</label>
      <div class="layui-input-inline">
        <select name="faculty">
          <option value="null">请选择学院</option>
          <option th:selected="${studentEdit.faculty=='材料与化工学院'}" value="材料与化工学院">材料与化工学院</option>
          <option th:selected="${studentEdit.faculty=='电气与信息工程学院'}" value="电气与信息工程学院">电气与信息工程学院</option>
          <option th:selected="${studentEdit.faculty=='电子与信息工程学院'}" value="电子与信息工程学院">电子与信息工程学院</option>
          <option th:selected="${studentEdit.faculty=='法学院'}" value="法学院">法学院</option>
          <option th:selected="${studentEdit.faculty=='环境与旅游学院'}" value="环境与旅游学院">环境与旅游学院</option>
          <option th:selected="${studentEdit.faculty=='机械与车辆工程学院'}" value="机械与车辆工程学院">机械与车辆工程学院</option>
          <option th:selected="${studentEdit.faculty=='建筑与土木工程学院'}" value="建筑与土木工程学院">建筑与土木工程学院</option>
          <option th:selected="${studentEdit.faculty=='金融与数学学院'}" value="金融与数学学院">金融与数学学院</option>
          <option th:selected="${studentEdit.faculty=='经济与管理学院'}" value="经济与管理学院">经济与管理学院</option>
          <option th:selected="${studentEdit.faculty=='生物与制药工程学院'}" value="生物与制药工程学院">生物与制药工程学院</option>
          <option th:selected="${studentEdit.faculty=='体育学院'}" value="体育学院">体育学院</option>
          <option th:selected="${studentEdit.faculty=='外国语学院'}" value="外国语学院">外国语学院</option>
          <option th:selected="${studentEdit.faculty=='文化与传媒学院'}" value="文化与传媒学院">文化与传媒学院</option>
          <option th:selected="${studentEdit.faculty=='艺术学院'}" value="艺术学院">艺术学院</option>
          <option th:selected="${studentEdit.faculty=='马克思主义学院'}" value="马克思主义学院">马克思主义学院</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item"  th:if="${session.adminEmployer} == '0'">
      <label class="layui-form-label">级数</label>
      <div class="layui-input-inline">
        <input type="text" name="series" lay-verify="required" placeholder="请输入学生年级" autocomplete="off" class="layui-input"  th:value="${studentEdit.series}">
      </div>
    </div>
    <div class="layui-form-item" th:if="${session.adminEmployer} == '0'">
      <label class="layui-form-label">专业</label>
      <div class="layui-input-inline">
        <input type="text" name="profession" lay-verify="required" placeholder="请输入学生专业" autocomplete="off" class="layui-input"  th:value="${studentEdit.profession}">
      </div>
    </div>
    <div class="layui-form-item" th:if="${session.adminEmployer} == '0'">
      <label class="layui-form-label">班级</label>
      <div class="layui-input-inline">
        <input type="text" name="stuClass" lay-verify="required" placeholder="请输入班级" autocomplete="off" class="layui-input"  th:value="${studentEdit.stuClass}">
      </div>
    </div>

    <div class="layui-form-item"  th:if="${session.adminEmployer} == '1'">
      <label class="layui-form-label">学院</label>
      <div class="layui-input-inline">
        <select name="faculty">
          <option disabled value="null">请选择学院</option>
          <option disabled th:selected="${studentEdit.faculty=='材料与化工学院'}" value="材料与化工学院">材料与化工学院</option>
          <option disabled th:selected="${studentEdit.faculty=='电气与信息工程学院'}" value="电气与信息工程学院">电气与信息工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='电子与信息工程学院'}" value="电子与信息工程学院">电子与信息工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='法学院'}" value="法学院">法学院</option>
          <option disabled th:selected="${studentEdit.faculty=='环境与旅游学院'}" value="环境与旅游学院">环境与旅游学院</option>
          <option disabled th:selected="${studentEdit.faculty=='机械与车辆工程学院'}" value="机械与车辆工程学院">机械与车辆工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='建筑与土木工程学院'}" value="建筑与土木工程学院">建筑与土木工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='金融与数学学院'}" value="金融与数学学院">金融与数学学院</option>
          <option disabled th:selected="${studentEdit.faculty=='经济与管理学院'}" value="经济与管理学院">经济与管理学院</option>
          <option disabled th:selected="${studentEdit.faculty=='生物与制药工程学院'}" value="生物与制药工程学院">生物与制药工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='体育学院'}" value="体育学院">体育学院</option>
          <option disabled th:selected="${studentEdit.faculty=='外国语学院'}" value="外国语学院">外国语学院</option>
          <option disabled th:selected="${studentEdit.faculty=='文化与传媒学院'}" value="文化与传媒学院">文化与传媒学院</option>
          <option disabled th:selected="${studentEdit.faculty=='艺术学院'}" value="艺术学院">艺术学院</option>
          <option disabled th:selected="${studentEdit.faculty=='马克思主义学院'}" value="马克思主义学院">马克思主义学院</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item"  th:if="${session.adminEmployer} == '1'">
      <label class="layui-form-label">级数</label>
      <div class="layui-input-inline">
        <input type="text" name="series" lay-verify="required" placeholder="请输入学生年级" autocomplete="off" class="layui-input"  th:value="${studentEdit.series}">
      </div>
    </div>
    <div class="layui-form-item" th:if="${session.adminEmployer} == '1'">
      <label class="layui-form-label">专业</label>
      <div class="layui-input-inline">
        <input type="text" name="profession" lay-verify="required" placeholder="请输入学生专业" autocomplete="off" class="layui-input"  th:value="${studentEdit.profession}">
      </div>
    </div>
    <div class="layui-form-item" th:if="${session.adminEmployer} == '1'">
      <label class="layui-form-label">班级</label>
      <div class="layui-input-inline">
        <input type="text" name="stuClass" lay-verify="required" placeholder="请输入班级" autocomplete="off" class="layui-input"  th:value="${studentEdit.stuClass}">
      </div>
    </div>

    <div class="layui-form-item"  th:if="${session.adminEmployer} == '2'">
      <label class="layui-form-label">学院</label>
      <div class="layui-input-inline">
        <select name="faculty">
          <option disabled value="null">请选择学院</option>
          <option disabled th:selected="${studentEdit.faculty=='材料与化工学院'}" value="材料与化工学院">材料与化工学院</option>
          <option disabled th:selected="${studentEdit.faculty=='电气与信息工程学院'}" value="电气与信息工程学院">电气与信息工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='电子与信息工程学院'}" value="电子与信息工程学院">电子与信息工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='法学院'}" value="法学院">法学院</option>
          <option disabled th:selected="${studentEdit.faculty=='环境与旅游学院'}" value="环境与旅游学院">环境与旅游学院</option>
          <option disabled th:selected="${studentEdit.faculty=='机械与车辆工程学院'}" value="机械与车辆工程学院">机械与车辆工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='建筑与土木工程学院'}" value="建筑与土木工程学院">建筑与土木工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='金融与数学学院'}" value="金融与数学学院">金融与数学学院</option>
          <option disabled th:selected="${studentEdit.faculty=='经济与管理学院'}" value="经济与管理学院">经济与管理学院</option>
          <option disabled th:selected="${studentEdit.faculty=='生物与制药工程学院'}" value="生物与制药工程学院">生物与制药工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='体育学院'}" value="体育学院">体育学院</option>
          <option disabled th:selected="${studentEdit.faculty=='外国语学院'}" value="外国语学院">外国语学院</option>
          <option disabled th:selected="${studentEdit.faculty=='文化与传媒学院'}" value="文化与传媒学院">文化与传媒学院</option>
          <option disabled th:selected="${studentEdit.faculty=='艺术学院'}" value="艺术学院">艺术学院</option>
          <option disabled th:selected="${studentEdit.faculty=='马克思主义学院'}" value="马克思主义学院">马克思主义学院</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item"  th:if="${session.adminEmployer} == '2'">
      <label class="layui-form-label">级数</label>
      <div class="layui-input-inline">
        <input type="text" name="series" lay-verify="required" placeholder="请输入学生年级" autocomplete="off" class="layui-input"  th:value="${studentEdit.series}">
      </div>
    </div>
    <div class="layui-form-item" th:if="${session.adminEmployer} == '2'">
      <label class="layui-form-label">专业</label>
      <div class="layui-input-inline">
        <input type="text" name="profession" lay-verify="required" placeholder="请输入学生专业" autocomplete="off" class="layui-input"  th:value="${studentEdit.profession}">
      </div>
    </div>
    <div class="layui-form-item" th:if="${session.adminEmployer} == '2'">
      <label class="layui-form-label">班级</label>
      <div class="layui-input-inline">
        <input type="text" name="stuClass" lay-verify="required" placeholder="请输入班级" autocomplete="off" class="layui-input"  th:value="${studentEdit.stuClass}">
      </div>
    </div>

    <div class="layui-form-item"  th:if="${session.adminEmployer} == '3'">
      <label class="layui-form-label">学院</label>
      <div class="layui-input-inline">
        <select name="faculty">
          <option disabled  value="null">请选择学院</option>
          <option disabled th:selected="${studentEdit.faculty=='材料与化工学院'}" value="材料与化工学院">材料与化工学院</option>
          <option disabled th:selected="${studentEdit.faculty=='电气与信息工程学院'}" value="电气与信息工程学院">电气与信息工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='电子与信息工程学院'}" value="电子与信息工程学院">电子与信息工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='法学院'}" value="法学院">法学院</option>
          <option disabled th:selected="${studentEdit.faculty=='环境与旅游学院'}" value="环境与旅游学院">环境与旅游学院</option>
          <option disabled th:selected="${studentEdit.faculty=='机械与车辆工程学院'}" value="机械与车辆工程学院">机械与车辆工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='建筑与土木工程学院'}" value="建筑与土木工程学院">建筑与土木工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='金融与数学学院'}" value="金融与数学学院">金融与数学学院</option>
          <option disabled th:selected="${studentEdit.faculty=='经济与管理学院'}" value="经济与管理学院">经济与管理学院</option>
          <option disabled th:selected="${studentEdit.faculty=='生物与制药工程学院'}" value="生物与制药工程学院">生物与制药工程学院</option>
          <option disabled th:selected="${studentEdit.faculty=='体育学院'}" value="体育学院">体育学院</option>
          <option disabled th:selected="${studentEdit.faculty=='外国语学院'}" value="外国语学院">外国语学院</option>
          <option disabled th:selected="${studentEdit.faculty=='文化与传媒学院'}" value="文化与传媒学院">文化与传媒学院</option>
          <option disabled th:selected="${studentEdit.faculty=='艺术学院'}" value="艺术学院">艺术学院</option>
          <option disabled th:selected="${studentEdit.faculty=='马克思主义学院'}" value="马克思主义学院">马克思主义学院</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item"  th:if="${session.adminEmployer} == '3'">
      <label class="layui-form-label">级数</label>
      <div class="layui-input-inline">
        <input type="text" name="series" readonly lay-verify="required" placeholder="请输入学生年级" autocomplete="off" class="layui-input"  th:value="${studentEdit.series}">
      </div>
    </div>
    <div class="layui-form-item" th:if="${session.adminEmployer} == '3'">
      <label class="layui-form-label">专业</label>
      <div class="layui-input-inline">
        <input type="text" name="profession" readonly lay-verify="required" placeholder="请输入学生专业" autocomplete="off" class="layui-input"  th:value="${studentEdit.profession}">
      </div>
    </div>
    <div class="layui-form-item" th:if="${session.adminEmployer} == '3'">
      <label class="layui-form-label">班级</label>
      <div class="layui-input-inline">
        <input type="text" name="stuClass" readonly lay-verify="required" placeholder="请输入班级" autocomplete="off" class="layui-input"  th:value="${studentEdit.stuClass}">
      </div>
    </div>






    <div class="layui-form-item">
      <label class="layui-form-label">身份证号</label>
      <div class="layui-input-inline">
        <input type="text" name="stuID" lay-verify="required" placeholder="请输入学生身份证号码" autocomplete="off" class="layui-input" th:value="${studentEdit.stuID}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">职务</label>
      <div class="layui-input-inline">
        <select name="committee" id="committee">
          <option th:selected="${studentEdit.committee=='无'}" value="无">无</option>
          <option th:selected="${studentEdit.committee=='团支书'}" value="团支书">团支书</option>
          <option th:selected="${studentEdit.committee=='班长'}" value="班长">班长</option>
          <option th:selected="${studentEdit.committee=='组织委员'}" value="组织委员">组织委员</option>
          <option th:selected="${studentEdit.committee=='宣传委员'}" value="宣传委员">宣传委员</option>
          <option th:selected="${studentEdit.committee=='权益委员'}" value="权益委员">权益委员</option>
          <option th:selected="${studentEdit.committee=='学习委员'}" value="学习委员">学习委员</option>
          <option th:selected="${studentEdit.committee=='生活委员'}" value="生活委员">生活委员</option>
          <option th:selected="${studentEdit.committee=='科创委员'}" value="科创委员">科创委员</option>
          <option th:selected="${studentEdit.committee=='心理委员'}" value="心理委员">心理委员</option>
          <option th:selected="${studentEdit.committee=='文艺委员'}" value="文艺委员">文艺委员</option>
          <option th:selected="${studentEdit.committee=='体育委员'}" value="体育委员">体育委员</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">宿舍</label>
      <div class="layui-input-inline">
        <input type="text" name="dormitory" lay-verify="required" placeholder="请输入宿舍号" autocomplete="off" class="layui-input"  th:value="${studentEdit.dormitory}">
      </div>
    </div>
    <div class="layui-form-item" lay-filter="sex">
      <label class="layui-form-label">寝室长</label>
      <div class="layui-input-block">
        <input type="radio" name="shepherd" value="1" title="是" th:checked="${studentEdit.shepherd}=='1'" >
        <input type="radio" name="shepherd" value="0" title="否" th:checked="${studentEdit.shepherd}=='0'" >
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">手机</label>
      <div class="layui-input-inline">
        <input type="text" name="tel" lay-verify="required|phone" placeholder="请输入联系电话" autocomplete="off" class="layui-input" th:value="${studentEdit.tel}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">邮箱</label>
      <div class="layui-input-inline">
        <input type="text" name="email" lay-verify="required|email" placeholder="请输入邮箱" autocomplete="off" class="layui-input" th:value="${studentEdit.email}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">qq</label>
      <div class="layui-input-inline">
        <input type="text" name="qq" lay-verify="required" placeholder="请输入qq" autocomplete="off" class="layui-input"  th:value="${studentEdit.qq}">
      </div>
    </div>
<!--    <div class="layui-form-item">-->
<!--      <label class="layui-form-label">职务</label>-->
<!--      <div class="layui-input-inline">-->
<!--        <select name="committee" id="committee">-->
<!--          <option value="">请选择职务</option>-->
<!--          <option value="团支书">团支书</option>-->
<!--          <option value="班长">班长</option>-->
<!--          <option value="组织委员">组织委员</option>-->
<!--          <option value="宣传委员">宣传委员</option>-->
<!--          <option value="权益委员">权益委员</option>-->
<!--          <option value="学习委员">学习委员</option>-->
<!--          <option value="生活委员">生活委员</option>-->
<!--          <option value="科创委员">科创委员</option>-->
<!--          <option value="心理委员">心理委员</option>-->
<!--          <option value="文艺委员">文艺委员</option>-->
<!--          <option value="体育委员">体育委员</option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="layui-form-item">-->
<!--      <label class="layui-form-label">手机号码</label>-->
<!--      <div class="layui-input-inline">-->
<!--        <input type="text" name="tel" lay-verify="phone" placeholder="请输入号码" autocomplete="off" class="layui-input">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="layui-form-item">-->
<!--      <label class="layui-form-label">邮箱</label>-->
<!--      <div class="layui-input-inline">-->
<!--        <input type="text" name="email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">-->
<!--      </div>-->
<!--    </div>-->
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>

  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'upload'], function(){
    var $ = layui.$
    ,form = layui.form
    ,upload = layui.upload ;
    
    upload.render({
      elem: '#layuiadmin-upload-useradmin'
      ,url: layui.setter.base + 'json/upload/demo.js'
      ,accept: 'images'
      ,method: 'get'
      ,acceptMime: 'image/*'
      ,done: function(res){
        $(this.item).prev("div").children("input").val(res.data.src)
      }
    });
  })
  </script>
</body>
</html>