<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>综合测评任务</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/template.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card" style="padding-top: 5px">
          <!-- 搜索条件开始 -->
          <fieldset class="layui-elem-field layui-field-title">
            <legend>查询条件</legend>
          </fieldset>
          <div class="layui-form">
              <div class="layui-form-item">
                  <div class="layui-inline layui-col-lg6 layui-col-xs11">
                      <label class="layui-form-label">测评项目:</label>
                      <div class="layui-input-block">
                          <select name="project" >
                              <option value="">不限</option>
                              <option th:each="project:${zhcpListProjectOfAdmin}" th:value="${project}">[[${project}]]</option>
                          </select>
                      </div>
                  </div>
                  <div class="layui-inline">
                      <label class="layui-form-label">测评状态:</label>
                      <div class="layui-input-block">
                          <select name="status">
                              <option value="">不限</option>
                              <option value="已开始">已开始</option>
                              <option value="已结束">已结束</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="layui-form-item">
                  <div class="layui-input-block">
                      <button class="layui-btn layuiadmin-btn-admin layui-btn-normal layui-btn-sm layui-icon layui-icon-search" lay-submit lay-filter="bwmydcp-search">查询</button>
<!--                      <button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh" id="bjjs-reset" onclick="">重置</button>-->
                  </div>
              </div>
          </div>
          <!-- 搜索条件结束 -->


          <div class="layui-card-body">
            <table class="layui-hide" id="bwmydcpTable" lay-filter="bwgzfk"></table>
<!--            <blockquote class="layui-elem-quote">备注信息：待拓展（可填写相关班级建设意见的填写指导等）</blockquote>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none" id="bwgzfkToolBar">
<!--    <a th:href="@{/bwmydcp/stu/addBwmydcpList}"><button class="layui-btn ">ceshi</button></a>-->
<!--    <button class="layui-btn layuiadmin-btn-admin" data-type="add">班委工作反馈入口</button>-->
<!--    <button class="layui-btn layuiadmin-btn-admin" data-type="batchDelete">批量删除</button>-->
  </div>
  <div id="bwmydcpBar" style="display: none;">
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
      {{# if(d.finalTime == null){ }}
        {{# if(d.status == '已结束'){ }}
            <a class="layui-btn  layui-btn-xs" lay-event="final">终审通过</a>
        {{#  } }}
      {{#  } }}
      <!--      <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="editOrDetail">测评/查看</a>-->
<!--      {{# if(d.evaStatus == '已完成' || d.evaStatus == '已逾期'){ }}-->
<!--      {{#  } }}-->
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
  </div>

  <div id="statusBar" style="display: none;">
      {{# if(d.status == '已开始'){ }}
      <button class="layui-btn layui-btn-xs layui-btn-danger">已开始</button>
      {{#  } }}
      {{# if(d.status == '已结束'){ }}
      <button class="layui-btn layui-btn-xs">已结束</button>
      {{#  } }}
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'jquery', 'table', 'form', 'layer', 'laydate'], function(){
    var $ = layui.$
    ,table = layui.table
    ,form = layui.form
    ,layer = layui.layer
    ,laydate = layui.laydate;

    //方法级渲染
    table.render({
      elem: '#bwmydcpTable'
      ,id: 'bwmydcpTable'
      ,url: '/zhcp/admin/queryZhcpSummaryList'
      ,title: '综测汇总数据'
      ,toolbar: '#bwgzfkToolBar'
      ,cellMinWidth:100
      ,page: true
      ,limit: 10
      ,height: 'full-221'
      ,cols: [
              [
        {checkbox: true, fixed: true}
        ,{type:'numbers', field:'no',title: '序号', width:70, fixed: 'left',align:"center"}
        ,{field:'project', title: '测评项目'}
        ,{field:'zcObject', title: '测评对象', width:100,align:'center'}
        ,{field:'releaser',title: '发布人', width:100,align:'center'}
        ,{field:'releaseTime', title: '发布时间', width:150, sort: true}
        ,{field:'remarks', title: '填报要求【备注】'}
        ,{field:'deadline', title: '截止时间', width:150, sort: true}
          // ,{field:'bwmydcpData.idd', title: '号', width:50}   // 无法输出，但是请求头中可以找到该数据
        ,{toolbar:'#statusBar',title: '测评状态', width:90,align:'center'}
        ,{title: '操作', toolbar:'#bwmydcpBar', width:150, align:'center'}
        ]
      ]
      ,parseData: function (res) {
            return {
                "code": 0,
                "msg": res.msg,
                "data": res.payload.content,
                "count": res.payload.total
            }
            // console.log(res.payload.content)
        }

    });

      //监听行工具事件
      table.on('tool(bwgzfk)', function(obj) {

          var data = obj.data;
          var id = data.id;

          if (obj.event === 'del') {
              layer.confirm('真的要删除这一行么', function (index) {
                  $.ajax({
                      url: '',
                      dataType: 'text',
                      data: {id: id},
                      success: function (res) {
                          if (res.code == 200) {
                              layer.msg(res.msg,{time:1000,icon:5})
                          }else{
                              layer.msg('删除成功', {
                                  time: 1000, icon: 6
                              })
                              location.reload()
                          }
                      },
                      error:function (data) {
                          layer.msg("删除班级建设意见时发生错误，请重试...",{time:1000,icon:7})
                          return false;
                      }
                  })
                  obj.del();
                  layer.close(index);
              });

          }else if (obj.event === 'final') {
              layer.confirm('确认终审通过？', function (index) {
                  $.ajax({
                      url: '/zhcp/admin/finalAccess',
                      dataType: 'JSON',
                      data: {id: id},
                      success: function (res) {
                          if (res.code == 200) {
                              layer.msg(res.msg,{time:1000,icon:5})
                          }else{
                              layer.msg('操作成功', {
                                  time: 1000, icon: 6
                              })
                              location.reload()
                          }
                      },
                      error:function (data) {
                          layer.msg("提交时发生错误，请重试...",{time:1000,icon:7})
                          return false;
                      }
                  })
                  obj.del();
                  layer.close(index);
              });

          } else if (obj.event === 'edit') {
              layer.open({
                  type: 2,
                  title: '填写班委满意度测评',
                  maxmin: true,
                  // area: ['860px', '520px'],
                  area: screen() < 1 ? ['90%', '450px'] : ['760px', '495.5px'],
                  shadeClose: true, //点击遮罩关闭
                  // content: '/bwmydcp/toBwmydcpEdit/' + id,
                  content: '/bwmydcp/toBwmydcpEdit/' + id,
                  end: function (index) {
                      location.reload()
                      parent.layer.close(index);
                  }
              })
          } else if (obj.event === 'detail') {

              layer.open({
                  type: 2,
                  title: '综合测评汇总表',
                  maxmin: true,
                  // area: ['860px', '520px'],
                  shadeClose: true, //点击遮罩关闭
                  content: '/zhcp/admin/toZhcpSummaryDetailOfAdmin/'  + id

                  ,area: screen() < 1 ? ['90%', '450px'] : ['760px', '549px']
                  ,end: function (index) {
                      location.reload()
                      parent.layer.close(index);
                  }
              })
          }
      })


    var $ = layui.$, active = {
      reload: function(){
        var demoReload = $('#test-table-demoReload');

        //执行重载
        table.reload('bwgzfkTable', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          ,where: {
            key: {
              id: demoReload.val()
            }
          }
        });
      }
    };

    //监听搜索
      form.on('submit(bwmydcp-search)', function(data){
          var field = data.field;
          // var project = $('input[name="project"]');
          // var status = $('input[name="evaStatus"]:checked');
          //执行重载
          table.reload('bwmydcpTable', {
              method: 'post'
              ,page: {
                  curr : 1 //重新从第一页开始
              }
              ,where: {
                  project : field.project
                  ,status : field.status
                  // ,page: 1
                  // ,limit: 10
              }
          });

      });

      function resetBwgzfk() {
            $("#bjjs-reset").on('click',function () {
                $('input[name="feedback"]').reset();
                $('input[name="letterTitle"]').reset();
                $('input[name="status"]').reset();
            })
      }


      //判断浏览器大小方法
      function screen() {
          //获取当前窗口的宽度
          var width = $(window).width();
          if (width > 768) {
              return 1;   //小屏幕
          } else {
              return 0;   //超小屏幕
          }
      }

      $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
          var type = $(this).data('type');
          active[type] ? active[type].call(this) : '';
      });
  });
  </script>
</body>
</html>