<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>报表填写任务修改页面</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../../../layuiadmin/style/template.css" media="all">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

</head>
<body style="background-color: #fff">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
                    <legend>报表填写项目修改窗口</legend>
                </fieldset>
                <form class="layui-form layui-form-pane" method="post" id="form">

                    <div class="layui-form-item">
                        <label class="layui-form-label">填报项目</label>
                        <div class="layui-input-block">
                            <input type="text"  readonly autocomplete="off" placeholder="填报项目" class="layui-input" th:value="${bbtxListInfo.project}">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">填写要求</label>
                        <div class="layui-input-block" contenteditable="true">
                            <textarea placeholder="填写要求" readonly class="layui-textarea" >[[${bbtxListInfo.remarks}]]</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">填报说明</label>
                        <div class="layui-input-block" contenteditable="true">
                            <textarea placeholder="填报说明" readonly class="layui-textarea" >[[${bbtxDataInfo.marks}]]</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">审核说明</label>
                        <div class="layui-input-block" contenteditable="true">
                            <textarea placeholder="审核说明" readonly class="layui-textarea" >[[${bbtxDataInfo.remarks}]]</textarea>
                        </div>
                    </div>




                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>附件</legend>
                    </fieldset>
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>文件名</th>
                                    <th style="text-align: center">操作</th>
                                    <input type="text" class="layui-input" name="download" id="download"  th:value="${bbtxDataInfo.upload}" style="display: none">
                                    <input type="text" class="layui-input" name="fileName" id="fileName"  th:value="${bbtxDataInfo.upFilename}" style="display: none">
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="i,index:${files}" th:id="del+${index.count}" th:if="${i.getKey()} ne 未上传文件">
                                    <th th:text="${i.getKey()}"></th>
                                    <th th:id="file+${index.count}" th:text="${i.getValue()}" style="display: none"></th>
                                    <th th:id="project+${index.count}" th:text="${bbtxListInfo.projectID}" style="display: none"></th>
                                    <th width="20%" style="text-align: center" >
                                        <a class="layui-btn layui-btn-normal layui-btn-xs" th:onclick="|dowloadFile(${index.count})|">下载</a>

                                        <a class="layui-btn layui-btn-danger layui-btn-xs" th:onclick="|deleteFile(${index.count})|" th:if="${bbtxDataInfo.evaStatus} eq 待审核">删除</a>


                                    </th>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <br><br><br>

                </form>
            </div>
        </div>
    </div>
</div>



<script src="../../../../layuiadmin/layui/layui.js"></script>

<!--    文件的下载和删除操作-->
<script>
    // 文件的下载
    function dowloadFile(index) {
        var id = "file" + index;
        var path = document.getElementById(id).innerText
        window.open(path)
    }

    //文件的删除
    function deleteFile(index) {
        console.log(index)
        var id = "project" + index;
        var projectID = document.getElementById(id).innerText;

        var download = $('#download').val() //download的input中原来有的
        var fileName = $('#fileName').val() //downloadName的input中原来有的
        var pathsList = download.split(",");
        var namesList = fileName.split(",");


        var paths = "";
        var names = "";

        for (var i=0; i<pathsList.length -1 ; i++){
            if (i != index-1){
                paths += pathsList[i] + ",";
                names += namesList[i] + ",";
            }
        }

        //异步删除文件
        $.ajax({
            // 请求方式为get或者post等
            type: "POST",
            // 服务器响应的数据类型
            dataType: "json",
            // 请求的url(一般为后台接口) 
            url: "/bbtx/stu/stuDeleteBbFile",
            // 发送到服务器的参数,      
            data: {
                id:id,
                projectID:projectID,
                fileName:names,
                filePath:paths
            },
            // 请求成功后返回的数据，赋值给变量'data' 
            success: function(data){
                // 对data进行操作
                if (data > 0){
                    //删除指定行
                    $('table tr').eq(index).remove();
                    //删除后重新给隐藏的input赋值
                    $('#download').val(paths)
                    $('#fileName').val(names)
                }else {
                    alert("删除失败")
                }

            },
            // 请求失败异常后，返回的错误信息
            error: function(err){

            }
        });

    }

</script>


    <script>
        layui.config({
            base: '../../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index','form', 'upload','layer','laydate'],function () {
            var $ = layui.$
            ,form = layui.form
            ,upload = layui.upload
            ,layer =  layui.layer
            ,laydate = layui.laydate;

            laydate.render({
                elem: '#deadline'
                ,type: 'datetime'
                ,format: 'yyyy/MM/dd HH:mm'
            });


            //多文件列表示例
            var demoListView = $('#demoList')
                ,uploadListIns = upload.render({
                elem: '#testList'
                ,url: 'https://httpbin.org/post' //改成您自己的上传接口
                ,accept: 'file'
                ,multiple: true
                ,auto: false
                ,bindAction: '#testListAction'
                ,choose: function(obj){
                    var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    //读取本地文件
                    obj.preview(function(index, file, result){
                        var tr = $(['<tr id="upload-'+ index +'">'
                            ,'<td>'+ file.name +'</td>'
                            ,'<td>'+ (file.size/1024).toFixed(1) +'kb</td>'
                            ,'<td>等待上传</td>'
                            ,'<td>'
                            ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                            ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                            ,'</td>'
                            ,'</tr>'].join(''));

                        //单个重传
                        tr.find('.demo-reload').on('click', function(){
                            obj.upload(index, file);
                        });

                        //删除
                        tr.find('.demo-delete').on('click', function(){
                            delete files[index]; //删除对应的文件
                            tr.remove();
                            uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                        });

                        demoListView.append(tr);
                    });
                }
                ,done: function(res, index, upload){
                    if(res.files.file){ //上传成功
                        var tr = demoListView.find('tr#upload-'+ index)
                            ,tds = tr.children();
                        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                        tds.eq(3).html(''); //清空操作
                        return delete this.files[index]; //删除文件队列已经上传成功的文件
                    }
                    this.error(index, upload);
                }
                ,error: function(index, upload){
                    var tr = demoListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                    tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                }
            });

            /*//异步添加用户信息
            layui.use('layer',function () {
                //利用ajax提交表单数据
                $('#submit').click(function () {
                    $.ajax({
                        //几个参数需要注意一下
                        type: "POST",               //方法类型
                        url: "/bwmydcp/stu/addBwmydcpData",       //url
                        dataType: 'JSON',
                        async: false,
                        data: $('#form').serialize(),
                        success: function (res) {
                            if (res.code === 200) {
                                layer.msg(res.msg,{time:1000,icon:5})
                            } else {
                                layer.msg('班委满意度测评提交成功!', {icon: 6, time: 2000,end: function f() {
                                        var index = parent.layer.getFrameIndex(window.name);
                                        parent.layer.close(index)
                                    }})
                            }
                        },
                        error:function (data) {
                            layer.msg("提交班委满意度测评时发生错误，请重试...",{time:1000,icon:7})
                        }
                    });
                })
            })

//自定义验证规则
            form.verify({
                otherReq: function(value,item){
                    var $ = layui.$;
                    var verifyName=$(item).attr('name')
                        , verifyType=$(item).attr('type')
                        ,formElem=$(item).parents('.layui-form')//获取当前所在的form元素，如果存在的话
                        ,verifyElem=formElem.find('input[name='+verifyName+']')//获取需要校验的元素
                        ,isTrue= verifyElem.is(':checked')//是否命中校验
                        ,focusElem = verifyElem.next().find('i.layui-icon');//焦点元素
                        if(!isTrue || !value){
                        //定位焦点
                        focusElem.css(verifyType=='radio'?{"color":"#FF5722"}:{"border-color":"#FF5722"});
                        //对非输入框设置焦点
                        focusElem.first().attr("tabIndex","1").css("outline","0").blur(function() {
                            focusElem.css(verifyType=='radio'?{"color":""}:{"border-color":""});
                        }).focus();
                        return '必填项不能为空';
                    }
                }
            });*/
        });
    </script>
</body>
</html>