<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>高校班级管理一体化服务平台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
  <link rel="shortcut icon" href="../img/cksys.ico" type="image/x-icon">
  <script>
  /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
  </script>
</head>
<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="http://www.wxc.edu.cn" target="_blank" title="前台">
              <i class="layui-icon layui-icon-website"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
          <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>
            <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="system/search.html?keywords=">
          </li>-->
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          
          <!--<li class="layui-nav-item" lay-unselect>
            <a lay-href="message/index.html" layadmin-event="message" lay-text="消息中心">
              <i class="layui-icon layui-icon-notice"></i>  
              
              &lt;!&ndash; 如果有新消息，则显示小圆点 &ndash;&gt;
              <span class="layui-badge-dot"></span>
            </a>
          </li>-->
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="note">
              <i class="layui-icon layui-icon-note"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
              <cite>[[${session.stuName}]]</cite>
            </a>
            <dl class="layui-nav-child">
<!--              <dd><a lay-href="set/user/info.html">基本资料</a></dd>-->
              <dd><a lay-href="/front/user/info">基本资料</a></dd>
              <dd><a lay-href="/front/user/modify">修改密码</a></dd>
<!--              <hr>-->
              <dd style="text-align: center;"><a th:href="@{/stu/logout}">退出</a></dd>
            </dl>
          </li>
          
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
          <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="home/console.html">
            <span>高校班级管理服务平台</span>
          </div>
          
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="user" class="layui-nav-item">
              <a href="javascript:;" lay-tips="团支部/班委会" lay-direction="2">
                <i class="layui-icon layui-icon-user"></i>
                <cite>团支部/班委会</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="/stu/tzb">团支部</a>
                </dd>
                <dd>
                  <a lay-href="/stu/bwh">班委会</a>
                </dd>
                <dd>
                  <a lay-href="/stu/qsz">寝室长</a>
                </dd>
              </dl>
            </li>
            <li data-name="app" class="layui-nav-item">
              <a href="javascript:;" lay-tips="班级任务" lay-direction="2">
                <i class="layui-icon layui-icon-app"></i>
                <cite>班级任务</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="javascript:;">报表填写</a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="/bbtx/stu/toBbtxList">填写通知</a></dd>
                    <dd><a lay-href="/bbtx/stu/toBbtxData">报表上传</a></dd>
                  </dl>
                </dd>
                <dd>
                  <a href="javascript:;">综合测评</a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="/zhcp/stu/toStuZhcp">测评任务</a></dd>
                    <dd><a lay-href="/zhcp/stu/toStuZhcpSummaryOfStu">测评汇总</a></dd>
                  </dl>
                </dd>
                <!--<dd>
                  <a lay-href="">评奖评优</a>
                </dd>-->
              </dl>
            </li>
            <li data-name="senior" class="layui-nav-item">
              <a href="javascript:;" lay-tips="班级留言板" lay-direction="2">
                <i class="layui-icon layui-icon-senior"></i>
                <cite>班级留言板</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="/front/advise/bjjs">班级建设意见</a>
                </dd>
                <dd>
                  <a lay-href="/front/advise/bwgzfk">班级工作反馈</a>
                </dd>
                <dd>
                  <a lay-href="/front/advise/bwmydcp">班委满意度测评</a>
                </dd>
              </dl>
            </li>

            <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="信息维护" lay-direction="2">
                <i class="layui-icon layui-icon-template"></i>
                <cite>信息维护</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="/xxwh/stu/zbxx">个人简历</a>
                </dd>
                <dd>
                  <a lay-href="/xxwh/stu/toZmclInfo">证明材料</a>
                </dd>
              </dl>
            </li>

            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="我的设置" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>我的设置</cite>
              </a>
              <dl class="layui-nav-child">
                <dd><a lay-href="/front/user/info">基本资料</a></dd>
                <dd><a lay-href="/front/user/modify">修改密码</a></dd>
              </dl>
            </li>
            
            
            <!--<li data-name="get" class="layui-nav-item">
              <a href="javascript:;" lay-href="https://zhfly021.github.io/" lay-tips="待拓展" lay-direction="2">
                <i class="layui-icon layui-icon-auz"></i>
                <cite>待拓展</cite>
              </a>
            </li>-->
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i> 班级通知</li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="/bjtz/stu/queryBjtzByClass" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use('index');
  </script>
  
  <!-- 百度统计 -->
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
</body>
</html>


