<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhfly021.mapper.XxwhMapper">

    <select id="queryResumeList" resultType="com.zhfly021.entity.Resume">
        select * from resume  where 1=1
        <if test="stuClass != null"> and stuClass like CONCAT('%',#{stuClass},'%')  </if>
        <if test="stuClasses != null"> and stuClass in
            <foreach collection="stuClasses" item="stuClass" open="(" separator="," close=")">
                #{stuClass}
            </foreach>
        </if>
        <if test="stuFaculty != null"> and stuFaculty like CONCAT('%',#{stuFaculty},'%')  </if>
        <if test="stuNo != null"> and stuNo like CONCAT('%',#{stuNo},'%')   </if>
        <if test="stuName != null"> and stuName like CONCAT('%',#{stuName},'%') </if>
        <if test="status != null"> and status = #{status}</if>
    </select>

    <delete id="deleteResumeList" parameterType="Integer">
        delete from resume where id = #{id}
    </delete>

    <delete id="bacthDeleteResumeList" parameterType="Integer">
        delete from resume where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="queryEvidenceList" resultType="com.zhfly021.entity.Resume">
        select * from evidence  where 1=1
        <if test="stuClass != null"> and stuClass like CONCAT('%',#{stuClass},'%')  </if>
        <if test="stuClasses != null"> and stuClass in
            <foreach collection="stuClasses" item="stuClass" open="(" separator="," close=")">
                #{stuClass}
            </foreach>
        </if>
        <if test="stuFaculty != null"> and stuFaculty like CONCAT('%',#{stuFaculty},'%')  </if>
        <if test="stuNo != null"> and stuNo like CONCAT('%',#{stuNo},'%')   </if>
        <if test="stuName != null"> and stuName like CONCAT('%',#{stuName},'%') </if>
        <if test="status != null"> and status = #{status}</if>
    </select>

    <delete id="deleteEvidenceList" parameterType="Integer">
        delete from evidence where id = #{id}
    </delete>

    <delete id="bacthDeleteEvidenceList" parameterType="Integer">
        delete from evidence where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="addEvidence">
        update evidence set submitTime = #{submitTime} ,status = #{status},
        submitMarks = #{submitMarks},
        perFileUrl= #{perFileUrl},
        perFileName= #{perFileName},
        eduFileUrl= #{eduFileUrl},
        eduFileName= #{eduFileName},
        workFileUrl= #{workFileUrl},
        workFileName= #{workFileName},
        eduFileUrl= #{eduFileUrl},
        eduFileName= #{eduFileName},
        workFileUrl= #{workFileUrl},
        workFileName= #{workFileName},
        honorFileUrl= #{honorFileUrl},
        honorFileName= #{honorFileName},
        egoFileUrl= #{egoFileUrl},
        egoFileName= #{egoFileName} where stuNo = #{stuNo}
    </update>

    <select id="queryEviById" resultType="com.zhfly021.entity.Evidence">
        select * from evidence where id = #{id}
    </select>

    <select id="queryStuById" resultType="com.zhfly021.entity.Student">
        select * from student where stuNo = #{stuNo}
    </select>

    <update id="updateEviByAdmin">
        update evidence set verifier = #{verifier}, verifyTime = #{verifyTime}, verifyMarks = #{verifyMarks}, status = #{status} where id = #{id}
    </update>

    <select id="queryEviByStuNo" resultType="com.zhfly021.entity.Evidence">
        select * from evidence where stuNo = #{stuNo}
    </select>

    <update id="stuDeleteEvFile">
        update evidence set
        perFileUrl= #{perFileUrl},
        perFileName= #{perFileName},
        eduFileUrl= #{eduFileUrl},
        eduFileName= #{eduFileName},
        workFileUrl= #{workFileUrl},
        workFileName= #{workFileName},
        eduFileUrl= #{eduFileUrl},
        eduFileName= #{eduFileName},
        workFileUrl= #{workFileUrl},
        workFileName= #{workFileName},
        honorFileUrl= #{honorFileUrl},
        honorFileName= #{honorFileName},
        egoFileUrl= #{egoFileUrl},
        egoFileName= #{egoFileName} where stuNo = #{stuNo}
    </update>

    <update id="stuUpdateEvFile">
        update evidence set submitTime = #{submitTime} ,status = #{status},
        submitMarks = #{submitMarks},
        perFileUrl= #{perFileUrl},
        perFileName= #{perFileName},
        eduFileUrl= #{eduFileUrl},
        eduFileName= #{eduFileName},
        workFileUrl= #{workFileUrl},
        workFileName= #{workFileName},
        eduFileUrl= #{eduFileUrl},
        eduFileName= #{eduFileName},
        workFileUrl= #{workFileUrl},
        workFileName= #{workFileName},
        honorFileUrl= #{honorFileUrl},
        honorFileName= #{honorFileName},
        egoFileUrl= #{egoFileUrl},
        egoFileName= #{egoFileName} where stuNo = #{stuNo}
    </update>



    <select id="countResume" resultType="int">
        SELECT count(*) FROM resume WHERE 1 = 1
        <if test="faculty != null"> and stuFaculty = #{faculty}  </if>
        <if test="stuClass != null"> and stuClass = #{stuClass}  </if>
    </select>

</mapper>